.vscode/*
.ignore/

tools/*
!tools/cc65/
!tools/custom/
!tools/node/

resources/level/*
!resources/level/*.bin
resources/screen/*
!resources/screen/*.json
resources/tileset/*.chr

src/build_time.asm

*.o
*.nes
*.dbg
*.nl
*.d.txt
*.rom
